<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Mziba</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Mziba</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>Need to access your camera to capture a photo add and update profile picture and most importantly for KYC process.</string>
		<key>NSContactsUsageDescription</key>
		<string>You can import a friend from a list of contacts.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app requires access to the photo library.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to photo library so that photos can be selected for use on most of our savices.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.1082210401438-040ae2p53padi9978klqumumms7uel3s</string>
				</array>
			</dict>
		</array>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Nous avons besoin d'accéder à votre bibliothèque pour enregistrer l'image.</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Cette app a besoin de votre position pour fonctionner correctement.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Nous avons besoin d'accéder à votre position en arrière-plan.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Cette application utilise votre position pour améliorer certaines fonctionnalités, comme l'affichage de contenus géolocalisés.</string>
		<key>CFBundleURLName</key>
		<string>mziba-1e083.web.app</string>
		<key>FlutterDeepLinkingEnabled</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>FirebasePhoneAuthUIEnabled</key>
		<true/>
		<key>NSUserActivityTypes</key>
		<array>
			<string>NSUserActivityTypeBrowsingWeb</string>
		</array>
		<key>AssociatedDomains</key>
		<array>
			<string>applinks:mziba.page.link</string>
			<string>applinks:mziba-1e083.web.app</string>
			<string>webcredentials:mziba-1e083.web.app</string>
			<string>webcredentials:mziba.page.link</string>
		</array>
		<key>FirebaseDynamicLinksCustomDomains</key>
		<array>
			<string>https://mziba.page.link</string>
		</array>
	</dict>
</plist>
